.container {
  background-color: var(--color-secondary);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  box-shadow: 0px 1px 2px #000;
  z-index: 10;

  margin-bottom: 10px;
}

.logoContainer {
  margin-right: 20px;
}

.logoContainer a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}

.linksContainer a {
  text-decoration: none;
  padding: 0px 10px;
  border-right: 1px solid #000;
  color: #000;
  font-size: 20px;
  transition: all 0.2s;
}

.linksContainer a:hover,
.logoContainer a:hover {
  color: var(--color-accent);
}

.linksContainer :last-child {
  border-right: none;
}
