.container {
  max-width: 1500px;
  margin: 0 auto;
}

.topInfo {
  padding: 20px;
  padding-bottom: 0px;
}

.topInfo h1 {
  margin-bottom: 10px;
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.projectCardContainer hr {
  border: none;
  background-color: var(--color-secondary-light);
  width: 95%;
  height: 3px;
  margin: 15px auto;
}

.projectCard {
  padding: 20px;
}

.projectCardHeader {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 30px;
}

.projectTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectTitle h2 {
  font-size: 40px;
  color: var(--color-secondary);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
  text-align: center;
}

.projectCardHeader h5 {
  font-size: 15px;
  margin-bottom: 10px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20px;
}

.imgContainer img {
  object-fit: contain;
}

.projectCard p {
  margin-bottom: 10px;
}

.projectCard h3 {
  color: var(--color-secondary);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.7);
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px 0;
}

.skillsContainer > * {
  margin-right: 10px;
}

.checkLink {
  background-color: var(--color-accent);
  display: inline;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  font-size: 20px;

  transition: all 0.25s;
}

.checkLink:hover {
  background-color: var(--color-secondary-light);
  color: #000;
}

@media (max-width: 700px) {
  .projectCardHeader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: 200px;
  }

  .projectCardHeader h2 {
    margin-bottom: 10px;
  }
}
