.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.container h1 {
  font-size: 75px;
  text-align: center;
}

.container h2 {
  font-size: 50px;
  text-align: center;
}

.container p {
  font-size: 18px;
}

.container hr {
  border: none;
  background-color: #000;
  width: 95%;
  height: 1px;
  margin: 15px auto;
}

.backButton {
  text-decoration: none;
  background-color: var(--color-accent);
  color: #000;
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  display: inline-flex;
  border-radius: 10px;

  transition: all 0.2s;

  align-items: center;
  justify-content: center;
}

.backButton:hover {
  background-color: var(--color-secondary-light);
  color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.overview {
  margin-bottom: 10px;
}

.overview p {
  margin-bottom: 10px;
}

.overviewImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  margin: 0 auto;
}

.overviewImg img {
  object-fit: contain;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeLinks,
.codeLinks {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.storeLinks > *,
.codeLinks > * {
  margin: 0 10px;
}

.iconLink {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.iconLink h3 {
  margin-bottom: 5px;
}

.iconLink img {
  border-radius: 25%;
  background-color: var(--color-primary);

  transition: all 0.1s;
}

.iconLink img:hover {
  transform: scale(1.1);
}

.legal {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.legal a {
  margin: 10px;
  text-decoration: none;
  background-color: var(--color-accent);
  color: #000;
  font-size: 30px;
  padding: 15px;
  display: inline-flex;
  border-radius: 10px;

  transition: all 0.2s;

  align-items: center;
  justify-content: center;
}

.legal a:hover {
  background-color: var(--color-secondary-light);
  color: #000;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1000px;
  width: 100%;
  column-gap: 50px;
}

.pictures > div {
  position: relative;
}

.pictures img {
  object-fit: contain;
}

@media (max-width: 900px) {
  .pictures {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

@media (max-width: 600px) {
  .backButton {
    font-size: 12px;
  }

  .container h1 {
    font-size: 60px;
  }
}
